
  <body class='bodydash'>
    <div class="container">
      <% if current_user.company && current_user.company.deals.empty? %>
        <div id="novemp">
          <%= link_to 'Novo Empréstimo', new_deal_path(@company), id: 'bilu', class: 'btn btn-success' %>
        </div>
      <% end %>



  <div class="inner-content text-center">

      <h2 id='hdash' class='jubilu'>Valor Total Arrecadado:
        <% total = 0 %>

        <% if !current_user.company.nil? %>
          <% current_user.company.transactions.each do |x|%>
            <% total += x.participation %>
          <% end %>
        <% end %>
        R$<%= total %>
      </h2>

      <% if current_user.company && !current_user.company.deals.empty? %>
      <div class="c100 p<%=((current_user.company.deals.last.transactions.pluck(:participation).inject(:+).to_f / current_user.company.deals.last.amount) * 100).to_i%> center">
          <span><%=((current_user.company.deals.last.transactions.pluck(:participation).inject(:+).to_f / current_user.company.deals.last.amount) * 100).to_i%>%</span>
          <div class="slice"><div class="bar"></div><div class="fill"></div></div>
      </div>
      <% end %>

      <% if current_user.company %>
     <% if current_user.company.deals.last != nil %>
      <h3> Status do pedido: <%= current_user.company.deals.last.status %></h3>
      <% end %>
      <% end %>


  </div>


      <div class="tabs">
        <a href="#" class="tab active">crediteu</a>
      </div>

      <ul class="inbox">
          <% if current_user.company && current_user.company.transactions %>
          <% current_user.company.transactions.each do |transaction| %>



        <li class="message">
<!--           <img src='https://source.unsplash.com/random' alt="" class="avatar-large"> -->
          <div class="message-name">
            <h3>Investidor</h3>
            <p>ID: <%= transaction.investor_id %></p>
          </div>
          <div class="message-body">
            <p><strong> <%= transaction.created_at.strftime('%d.%m.%y') %> - <%= transaction.created_at.strftime("%I:%M%p") %></strong></p>
            <p>

              Valor correspondente a <%= ((transaction.participation.to_f / transaction.deal.amount.to_i) * 100).to_i %>% do total pedido
            </p>
          </div>
          <div class="message-status">
            <p class="status accepted">Participação:</p>
            <p class="price">R$ <%= transaction.participation %></p>
          </div>
        </li>

      <% end %>
      <% end %>
      </ul>

    </div>
  </body>
