<div class="background">
  <div class="form-investor-and-company-new">
    <%= simple_form_for(@company) do |f| %>
      <%= f.input :legal_name, label: "Nome da empresa" %>
      <%= f.input :address, label:"Endereço" %>
      <%= f.input :company_description, label:"Descrição da empresa"  %>
      <div class="pair-form">
        <%= f.input :cnpj, label:"CNPJ" %>
        <%= f.input :current_billing, label:"Faturamento Atual"  %>
      </div>
      <div class="pair-form">
        <%= f.input :date_of_foundation, label:"Data de criação"  %>
        <%= f.input :number_of_employees, label: "Número de empregados"  %>
      </div>
      <div class="pair-form">
        <%= f.input :phone, label: "Telefone" %>
        <%= f.input :website, label: "Site"  %>
      </div>
      <%= f.input :use_of_proceeds, label:"Uso de recursos"  %>
      <div class="pair-form">
        <%= f.input :manager_first_name, label:"Nome do responsável"  %>
        <%= f.input :manager_last_name, label: "Sobrenome"  %>
      </div>
      <%= f.input :manager_civil_status, label: "Estado civil do responsável"  %>
      <div class="pair-form">
        <%= f.input :manager_cpf, label:"CPF do responsável"  %>
        <%= f.input :manager_RG, label:"RG do responsável"  %>
      </div>
      <div class="pair-form">
        <%= f.input :manager_phone, label:"Telefone do responsável"  %>
        <%= f.input :manager_email, label:"Email do responsável"  %>
      </div>
      <%= f.input :manager_address, label:"Endereço do responsável"  %>
      <%= f.input :bank_name, label:"Banco"  %>
      <div class="pair-form">
        <%= f.input :bank_account_number, label:"Número da conta de banco"  %>
        <%= f.input :bank_agency, label:"Agência bancária"  %>
      </div>
      <%= f.submit 'Complete cadastro', class:'btn btn-success btn-lg btn-block' %>
      <% end %>
  </div>
</div>


