<div class="container">
  <div class="card-index-grid">


    <% @deals.each do |deal| %>
      <% if deal.status != 'pending' %>
      <div class="card-deal">
        <div class="card-photo" style="background-image: linear-gradient(-225deg, rgba(0,150,180,0.9) 0%, rgba(0,36,61,0.9) 50%), url("http://res.cloudinary.com/dz9p1e6np/image/upload/v1523544914/photo-1518107616985-bd48230d3b20.jpg");">




          <%= link_to "", deal_path(deal), class: "card-link" %>

          <% if deal.status == "live" %>
            <div class="deal-status", style="color: rgba(100,255,20,1);"><p><%= deal.status %></p></div>
          <% elsif deal.status == "coming soon" %>
            <div class="deal-status", style="color:rgba(255,255,255,.6);"><p><%= deal.status %></p></div>
          <% else %>
            <div class="deal-status", style="color:rgba(255,80,80,1);"><p> <%= deal.status %></p></div>
          <% end %>
            <div class="company-logo">
           <%= cl_image_tag deal.company.photo %>
          </div>
          <div class="deal-interest">
            <div class="interest-value"><%= deal.rate_per_annum %>%</div>
            <div class="interest-time">anual</div>
          </div>

          <div class="deal-rating">
            <div class="rating-value"><%= deal.credit_rating %></div>
            <div class="rating-label">rating</div>
          </div>
          <div class="overlay">
            <div class="text-deal">
              <ul class="list-unstyled">
                <li> Duração: <%= deal.maturity %> dias</li>
              </ul>
                  <p><%=deal.company.company_description%></p>
            </div>
          </div>
        </div>



       <!--   -->


        <div class="maturity" >
          <div class="loaded" style="height:6px;width: <%=
            (deal.transactions.pluck(:participation).inject(:+).to_f / deal.amount) * 100
           %>%"> </div>
        </div>
        <div class="descript-card">

          <div class="legal-name"><p><%= deal.company.legal_name %></p></div>
          <div class="deal-amount"><p>R$ <%= number_with_delimiter((deal.amount).to_i) %> </p></div>


        </div>
      </div>
      <% end %>
    <% end %>

  </div>
</div>


