<div class="container">
  <div class="card-index-grid">


    <% @deals.each do |deal| %>


    <div class="card-deal">
      <div class="card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/random');">

        <%= link_to "", deal_path(deal), class: "card-link" %>

        <div class="overlay">
          <div class="text-deal">
            <ul class="list-unstyled">
              <li> R$<%= deal.amount %> </li>
              <li> <%= deal.rate_per_annum %>% </li>
              <li> <%= deal.credit_rating %> </li>
              <li> <%= deal.status %></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="maturity" >
        <div class="loaded" style="height:6px;width: <%= deal.rate_per_annum %>%"> </div>
      </div>
      <div class="descript-card">

        <p><%= deal.company.legal_name %></p>
      </div>
    </div>

    <% end %>

  </div>
</div>


