<div class="background-deal-show">
  <div class="container">


    <div class="deal-show">
      <div class="deal-show-title">
        <div class="company-logo-show">
          <%= cl_image_tag @deal.company.photo, :width => 125, :height => 125, :crop => :fill %>
        </div>
        <h1 class="text-center"><%= @deal.company.legal_name %></h1>
      </div>

      <div class="grid-deal-show">
        <div class="deal-info">
          <ul class="list-unstyled">
            <li> Total: R$ <%= number_with_delimiter(@deal.amount) %> </li>
            <li> Financiado até agora: R$ <%= number_with_delimiter(@deal.transactions.pluck(:participation).inject(:+)) %> -
            <%= ((@deal.transactions.pluck(:participation).inject(:+).to_f / @deal.amount) * 100).round %> %</li>
            <li> Juros a.a.: <%= @deal.rate_per_annum %>% ao ano</li>
            <li> Ratings de crédito: <%= @deal.credit_rating %> </li>
            <li> Status:
              <% if @deal.status == 'live' %>
                Em curso
              <% elsif @deal.status == 'coming soon' %>
                Em breve
              <% else %>
                Finalizado
              <% end %>


              </li>
            <br>
            <% if current_user %>
              <% if @deal.status == 'live' && current_user.investor %>
                <%#= link_to 'Investir', new_deal_transaction_path(@deal), class: 'btn btn-success btn-lg' %>
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#exampleModalCenter">
                  Investir
                </button>

            <% end %>
          <% end %>
          </ul>
        </div>
        <% if @markers  %>
          <div
            class="map-show"
            id="map"
            style="width: 100%;"
            data-markers="<%= @markers.to_json %>"
          ></div>
        <% end %>
      </div>

        <div class="deal-company-info">
          <h2>Mais sobre essa empresa: </h2>
          <ul class="list-unstyled">
            <li><strong>Fundação:</strong> <%= @deal.company.date_of_foundation %></li>
            <li> <strong>Sobre:</strong> <%= @deal.company.company_description %> </li>
            <li><strong>Utilização de recursos:</strong> <%= @deal.company.use_of_proceeds.capitalize %></li>
          </ul>

          <div class="deal-company-other-info">
            <h2>Mais Informações: </h2>
            <ul>

              <li>Endereço: <%=@deal.company.address%></li>
              <li>CNPJ: <%=@deal.company.cnpj%></li>
              <li>Telefone: <%=@deal.company.phone%></li>
              <li>Responsável: <%=@deal.company.manager_first_name%> <%= @deal.company.manager_last_name %></li>
              <li>Website: <%=@deal.company.website%></li>
              <li>Número de empregados: <%=@deal.company.number_of_employees%></li>
            </ul>
          </div>
        </div>


    </div>
  </div>
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Nova Transação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for ([@deal, @transaction]) do |f| %>
        <div class="modal-body">
            <%= f.input :participation, label: "Valor", collection: [["R$ 2000",2000], ["R$ 4000", 4000], ["R$ 6000",6000], ["R$ 10000",10000], ["R$ 15000",15000], ["R$ 20000",20000]], include_blank: false %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <%= f.submit 'Confirmar', class:" btn btn-success",data: { confirm: "Confirmar transação?" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
