
<div class="container">

  <div class="deal-show-title">
    <h1 class="text-center"><%= @deal.company.legal_name %></h1>
  </div>

  <div class="grid-deal-show">

    <div class="deal-photo-desc" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/random'); background-size: center;">
    </div>

    <div class="deal-info">
      <ul class="list-unstyled">
        <li> R$<%= @deal.amount %> </li>
        <li> Juros: <%= @deal.rate_per_annum %>% ao ano</li>
        <li> <%= @deal.credit_rating %> </li>
        <li> Status: <%= @deal.status %></li>
          <% if @deal.status == 'live' && current_user.investor %>
            <%= link_to 'Investir', new_deal_transaction_path(@deal) %>
          <% elsif @deal.status == 'live' && !current_user.investor %>
            <%= link_to 'Investir', new_investor_path(current_user) %>
        <% end %>
      </ul>
    </div>
    <%= cl_image_tag @deal.company.photo %>

    </div>

    <div class="deal-company-info">
      <h2>More about this company:</h2>
      <ul class="list-unstyled">
        <li><strong>Foundation:</strong> <%= @deal.company.date_of_foundation %></li>
        <li> <strong>About:</strong> <%= @deal.company.company_description %> </li>
        <li><strong>Loan will be used for:</strong> <%= @deal.company.use_of_proceeds.capitalize %></li>
      </ul>

      <div class="deal-company-other-info">
        <h2>Other info:</h2>
        <ul>

          <li>Address: <%=@deal.company.address%></li>
          <li>CNPJ: <%=@deal.company.cnpj%></li>
          <li>Phone Number: <%=@deal.company.phone%></li>
          <li>Manager: <%=@deal.company.manager_first_name%> <%= @deal.company.manager_last_name %></li>
          <li>Website: <%=@deal.company.website%></li>
          <li>Number of Employees: <%=@deal.company.number_of_employees%></li>
        </ul>
      </div>
    </div>

</div>


