
  <body class='bodydash'>
    <div class="container">

      <h1 id='hdash'>Suas transações:</h1>

      <div class="tabs">
        <a href="#" class="tab active">crediteu</a>
      </div>

      <ul class="inbox">
          <% current_user.investor.transactions.each do |transaction| %>



        <li class="message">
<!--           <img src='https://source.unsplash.com/random' alt="" class="avatar-large"> -->
          <div class="message-image"><%= cl_image_tag transaction.deal.company.photo, :width => 75, :height => 75 %></div>
          <div class="message-name">
            <h3><%= transaction.deal.company.legal_name %></h3>
            <p>'<%= transaction.deal.credit_rating %>'</p>
          </div>
          <div class="message-body">
            <p><strong>Termina em: <%= transaction.deal.end_date.strftime('%d/%m/%y') %></strong></p>
            <p>
              Valor total do empréstimo solicitado: R$ <%= number_with_delimiter(transaction.deal.amount.to_i) %>
              <%= link_to 'contrato', contract_deal_transaction_path(transaction.deal, transaction, format: :pdf) %>
            </p>
          </div>
          <div class="message-status">
            <p class="status accepted">Aprovado</p>
            <p class="price">R$ <%= number_with_delimiter(transaction.participation) %></p>
          </div>
        </li>

      <% end %>
      </ul>

    </div>
  </body>
