<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title></title>
  <meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
  <meta name="created" content="2018-04-17T11:09:38.210257709"/>
  <meta name="changed" content="2018-04-17T11:13:16.282152697"/>
  <style type="text/css">
    @page { margin: 2cm }
    p { margin-bottom: 0.25cm; line-height: 120% }
  </style>
</head>
<body lang="pt-BR" dir="ltr">
<p align="center" style="margin-bottom: 0cm; line-height: 100%"><b>CONTRATO
DE MÚTUO</b></p>
<p align="center" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p align="center" style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0cm; line-height: 100%">Pelo presente
instrumento particular, <%= @transaction.investor.first_name %> <%= @transaction.investor.last_name %>, brasileiro(a),
<%= @transaction.investor.civil_status %> ,</b> <%= @transaction.investor.job %>, inscrito(a) no CPF sob o
nº <%= @transaction.investor.cpf %> e no RG nº <%= @transaction.investor.RG %>, residente e
domiciliado(a) à <%= @transaction.investor.address %>, denominado(a) MUTUANTE e
<%= @transaction.deal.company.manager_first_name %> <%= @transaction.deal.company.manager_last_name %>, Brasileiro(a), <%= @transaction.deal.company.manager_civil_status %>,
gerante, inscrito(a) no CPF sob o nº <%= @transaction.deal.company.manager_cpf %> e no RG
nº <%= @transaction.deal.company.manager_RG %>, residente e domiciliado(a) à <%= @transaction.deal.company.manager_address %>,
denominado(a) MUTUÁRIO(a), firmam contrato de mútuo que será
regido pelas cláusulas e condições adiante estabelecidas.</p>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0cm; line-height: 100%">Cláusula 1ª. Na
data da assinatura deste contrato o(a) MUTUANTE empresta ao(à)
MUTUÁRIO(a) a quantia de R$ <%= number_with_delimiter(@transaction.deal.amount) %> (valor por extenso), mediante
transferência bancária para conta de titularidade do(a)
MUTUÁRIO(a), qual seja, conta corrente nº <%= @transaction.deal.company.bank_account_number %>,
agência <%= @transaction.deal.company.bank_agency %>, do Banco <%= @transaction.deal.company.bank_name %>.</p>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0cm; line-height: 100%">Cláusula 2ª. O(a)
MUTUÁRIO(a) se compromete a restituir ao(à) MUTUANTE a quantia
mutuada especificada na cláusula anterior, no dia <%= Date.today.day %> de
<%= Date.today.month %> de <%= Date.today.year %>, acrescida de atualização monetária
calculada com base no INPC/IBGE e juros de <%= @transaction.deal.rate_per_annum %>% ao ano,
os quais serão calculados a partir desta data até o dia da efetiva
liquidação da dívida.</p>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0cm; line-height: 100%">Cláusula 3ª. Na
eventual falta do INPC/IBGE a atualização monetária será
realizada com base no IGP-M/FGV. Na falta também deste, com base em
outro índice equivalente reconhecido pelo Governo Federal.</p>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0cm; line-height: 100%">Cláusula 4ª. Fica
facultado ao(à) MUTUÁRIO(a) quitar a dívida antes da data de seu
vencimento, hipótese em que os encargos financeiros (atualização
monetária e juros) serão calculados proporcionalmente até o dia do
efetivo pagamento.</p>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0cm; line-height: 100%">Cláusula 5ª.
Ocorrendo impontualidade no cumprimento da obrigação do(a)
MUTUÁRIO(a), este(a) incorrerá em multa de 3% (três por cento)
sobre o valor corrigido e com juros do empréstimo, considerando-se
este contrato como um título executivo extrajudicial de dívida
líquida e certa, sujeitando-se o(a) MUTUÁRIO(a) ao pagamento das
despesas processuais e honorários advocatícios de 20% (vinte por
cento) sobre o valor da ação que será movida pelo(a) MUTUANTE para
execução da dívida.</p>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0cm; line-height: 100%">Cláusula 6ª. A
eventual tolerância do(a) MUTUANTE pelo não cumprimento de
obrigações contratuais por parte do(a) MUTUÁRIO(a) será
considerada como mera liberalidade e não importará novação,
perdão ou alteração contratual.</p>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0cm; line-height: 100%">Cláusula 7ª. Fica
vedada a cessão e transferência do presente contrato, seja a que
título for, sem a expressa concordância das partes.</p>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0cm; line-height: 100%">Cláusula 8ª. O
presente contrato obriga as partes, seus herdeiros e sucessores.</p>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0cm; line-height: 100%">Cláusula 9ª. As
partes elegem o foro da comarca de Rio de Janeiro - RJ
para solução de qualquer litígio ou questão decorrente deste
contrato.</p>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0cm; line-height: 100%">Para firmeza e
prova, os contratantes assinam este instrumento em duas vias iguais,
juntamente com duas testemunhas.</p>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0cm; line-height: 100%">Rio de Janeiro
- RJ, <%= Date.today.day %> de <%= Date.today.month %> de <%= Date.today.year %></p>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0cm; line-height: 100%"></p>
<p style="margin-bottom: 0cm; line-height: 100%"><b><%= @transaction.deal.company.legal_name %></b></p>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0cm; line-height: 100%"></p>
<p style="margin-bottom: 0cm; line-height: 100%"><%= @transaction.investor.first_name %> <%= @transaction.investor.last_name  %></p>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>
</p>
</p>
</body>
</html>


